.navbar[b-3gnmqkc5mb] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.navbar-brand[b-3gnmqkc5mb] {
    font-weight: 600;
    font-size: 1.4rem; /* Logoyu biraz büyütür */
}

/* Aktif olan (seçili) linki daha belirgin yapar */
.nav-link.active[b-3gnmqkc5mb] {
    font-weight: 500;
    color: #111 !important;
}

/* Normal linklerin rengini biraz soluklaştırır */
.nav-link[b-3gnmqkc5mb] {
    color: rgba(0,0,0,.7) !important;
}

/* Linklerin üzerine gelince rengini parlatır */
.nav-link:hover[b-3gnmqkc5mb] {
    color: rgba(0,0,0,.85) !important;
}

/* Bootstrap ikonlarını linklerdeki yazı ile hizalar */
.nav-link i[b-3gnmqkc5mb] {
    margin-right: 6px;
    vertical-align: text-top; /* İkonu yazının üstüne hizalar */
    font-size: 1rem;
}

/* Sepet sayacını (badge) dikey olarak hizalar */
.badge[b-3gnmqkc5mb] {
    vertical-align: top;
    position: relative;
    top: -2px; /* Sayacı biraz yukarı kaydırır */
}


.navbar-nav .dropdown-toggle i[b-3gnmqkc5mb] {
    font-size: 1.3rem; 
    font-style: normal;
    vertical-align: middle;
    margin-right: 0; 
}

/* Dropdown menü içindeki ikonları hizalar */
.dropdown-item i[b-3gnmqkc5mb] {
    margin-right: 6px;
    vertical-align: text-top;
    font-size: 1rem;
}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu[b-3gnmqkc5mb] {
        display: block;
        right: 0;
        left: auto;
    }

    /* Hover ile açıldığında avatar linkinin de aktif görünmesini sağlar */
    .dropdown:hover .nav-link.dropdown-toggle[b-3gnmqkc5mb] {
         color: rgba(0,0,0,.85) !important;
    }
}